* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  height: 80vh;
}
.navbar{
  background-color: blueviolet !important;
  
}
.register-page{
  background-color: rgb(250, 221, 143);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.reset-password-page{
  background-color: rgb(250, 221, 143);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.reg{
  margin-right: 10px;
}
.log{
  margin-right: 10px;
}

/*Transection page */

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none; 
}

.navbar-nav .nav-item {
  margin-right: 10px;
  align-items: left;
  
  
}

.navbar-nav .nav-link,
.navbar-nav .btn {
  margin: 0; 
  padding: 0.5rem 1rem; 
  text-decoration: none; 
  color: #000; 
}


